<div class="container">
  <form class="col s12" #surveyForm="ngForm" (ngSubmit)="createSurvey(model, surveyForm)">
    <div class="row">
      <div class="input-field col s6">
        <input id="survey_name" class="validate"  required [(ngModel)]="model.name" type="text" name="name">
        <label for="survey_name">Survey Name</label>
      </div>
      <div class="input-field col s7">
        <textarea id="survey_text" class="materialize-textarea validate" required [(ngModel)]="model.text" name="text"></textarea>
        <label for="survey_text">Survey text</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" [disabled]="!surveyForm.form.valid" name="action">Create
      <i class="material-icons right"></i>
    </button>
  </form>
  <span *ngIf="message">{{message.message}}</span>
</div>
