<div class="app">
  <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right">
          <li><a (click)="goTo('')">View all Surveys</a></li>
          <li><a (click)="goTo('/create-survey')">Create Survey</a></li>
        </ul>
      </div>
  </nav>
  <router-outlet></router-outlet>
</div>
