<div class="container">
  <p>{{title}}</p>
    <ul>
      <li *ngFor="let survey of surveys" class="row">
        <span>{{survey.name}}</span>
        <button (click)="showSurveyDetails(survey)" data-target="editModal" class="btn modal-trigger">Edit</button>
        <button class="btn waves-effect waves-light" (click)="removeSurvey(survey)" name="remove">Remove</button>
      </li>
    </ul>
</div>

<!-- Modal Structure -->
<div id="editModal" class="modal">
  <div class="modal-content">
    <h4>Edit survey</h4>
    <form class="col s12" #surveyForm="ngForm">
        <div class="row">
          <div class="input-field col s6">
            <input id="survey_name" class="validate" #survName required [ngModel]="currentSurvey.name" type="text" name="name">
            <label for="survey_name">Survey Name</label>
          </div>
          <div class="input-field col s7">
            <textarea id="survey_text" class="materialize-textarea validate" #survText required [ngModel]="currentSurvey.text" name="text"></textarea>
            <label for="survey_text">Survey text</label>
          </div>
        </div>
        <button (click)="updateSurvey(survName.value, survText.value)" class="btn modal-close waves-effect waves-light" [disabled]="!surveyForm.form.valid" name="action">Save changes
        </button>
      </form>
  </div>
  <!-- <div class="modal-footer">
    <a href="#!" ngdis (click)="updateSurvey(currentSurvey)" class="modal-close waves-effect waves-green btn-flat">Save changes</a>
  </div> -->
</div>